@font-face {
    font-family: roboto;

    src: url(Fonts/Roboto/Roboto-Light.ttf)
    
}
body{
    font-family: roboto;
    background-color: #e2e8f0;
}

.container{
    display: grid;
    grid-template-columns: 2fr, 3fr 1fr;
    grid-template-rows: 1fr, 4fr;
}
.header{
    display: grid;
    grid-template-rows: 1fr, 3fr;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 10px rgba(133, 133, 133, 0.575);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}
input{
    font-size: larger;
    border-style: none;
    background-color: #cbd5e1;
    border-radius: 30px;
    margin-right: 20%;
    height: 40%;
    width: 40%;
}
.search-userimg{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search-userimg>svg{
    width: 50px;
    height: 50px;
    margin-top: 30px;
}
.search-userimg>p>img{
    width: 60px;
    height: 60px;
}
.search-userimg>p{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 900;
    font-size: large;
    margin-right: 5%;
}
.user-button{
    display: flex;
    align-items: center;
    margin-left: 50px;
    
}
.user-button>p{
    display: flex;
    align-items: center;
    margin-right: auto;
    font-weight: 900;
    font-size: 30px;
    gap: 20px;
}
img{
    border-radius: 50px;
}
button{
    margin-right: 20px;
    color: white;
    background-color: #0284c7;
    font-size: large;
    font-weight: 600;
    border-style: none;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    height: 30%;
}
.main-content>div>svg{
    width: 25px;
    height: 25px;
    margin-right: 15px;
    
}
h3{
    margin-left: 15px;
    margin-bottom: 5px;
}
.main-content>div>p{margin-left: 15px; margin-top: 0px;}
.star-icon{
    margin-left: 70%;
}
.main-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 50px;
    row-gap: 30px;
    margin: 20px;
    margin-top: 5rem;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.main-content>div{
    font-size: larger;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-left-style:solid;
    border-color: #fbbf24;
    border-left-width: 10px;
    padding-bottom: 30px;
    box-shadow: 0px 8px 10px rgba(109, 109, 109, 0.377);

}
.trending-anouncements{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5fe05b00;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.anouncements{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 10px rgba(143, 143, 143, 0.582);
    padding-bottom: 10px;
}
.anouncements>div{
    border-radius: 10px;
    border-bottom-style: dashed;
    border-color: #b1b1b1c2;
    border-bottom-width: 1px;
    width: 60%;
}
.anouncements>div>h4{
    margin-bottom: 0px;
}
.anouncements>div>p{
    margin-top: 2px;
}
.trending{
    background-color: white;
}
.sidebar>div{
    display: flex;
    gap: 8px;
    text-align: center;
}

.sidebar>ul{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(25px, 1fr));
    gap: 15px;
    list-style: none;
    font-weight: 800;
    font-size: larger;
}
li>a{
    text-decoration: none;
    color: white;
}
.sidebar>ul>li{
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.sidebar>ul>li>svg{
    width: 30px;
    height: 30px;
}
.settings{
    margin-top: 5rem;
}
.sidebar{
    text-align: left;
    color: white;
    fill: white;
    background-color: #0284c7;
    padding-right: 7vw;
    padding-left: 15px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}